{% extends 'BackOfficeBundle:Default:layout.html.twig' %}
{% block content %}
<main class="ui container">
  <section class="ui raised segment">
    <h2 class="ui horizontal divider header">
      <i class="database icon"></i>
      Interface admin
    </h2>
  </section>
</main>
{% endblock %}
