<div class="ui five item menu">
  <a class="item" href="/adminbo">Accueil Admin</a>
  <a class="item" href="/adminbo/voiture">Voiture</a>
  <a class="item" href="/adminbo/ville">Ville</a>
  <a class="item" href="/adminbo/internaute">Internaute</a>
  <a class="item" href="/adminbo/stats">Statistiques</a>
</div>
