{% extends 'BackOfficeBundle:Default:layout.html.twig' %}

{% block content %}
<main class="ui container">
  <section class="ui raised segment">
    <h1 class="ui horizontal divider header">
      <i class="home icon"></i>
      Création Ville
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="ui hidden divider"></div>
    <div class="ui grid">
      <div class="six wide column">
        <input class="ui primary button" type="submit" value="Creer" />
        {{ form_end(form) }}
      </div>
      <div class="six wide column">
        <a class="ui primary button" href="{{ path('ville_index') }}">Retourner à la liste</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
