{% extends 'FrontOfficeBundle:Default:layout.html.twig' %}
{% block content %}
<div class="ui fluid card">
  <div class="content">
    <i class="right floated fas fa-car"></i>
    <div class="header">
      Trajet
    </div>
    <div class="meta">
      date
    </div>
    <span class="rigth floated"></span>
    <div class="description">
      Internaute
    </div>
  </div>
  <div class="extra content">
    voiture
  </div>
  <div class="extra content">
    <span class="right floated">
      Départ
    </span>
    <span>
      Arrivée
    </span>
  </div>
</div>
{{ dump(infos) }}
{{ dump(internaute) }}
{{ dump(voiture) }}
{% endblock %}
