{% extends 'FrontOfficeBundle:Default:layout.html.twig' %}
{% block content %}
Liste :<br>
{% for trajet in trajets %}
    id : <a href="/{{ trajet.id }}">{{ trajet.id }}</a>
{% endfor %}
{% endblock %}
