<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Ride sharing</title>
    <link rel="stylesheet" href="{{ asset('css/covoit.css') }}">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
