<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Ride sharing</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Concert+One">
    <link rel="stylesheet" href="{{ asset('css/covoit.css') }}">
  </head>
  <body>
    <h1 class="ui horizontal divider header">
      <img class="ui image" src="{{ asset('images/ride_sharing.png')}}">
      Description
    </h1>
    <h2 class="ui header">
      <img class="ui image" src="{{ asset('images/ride_sharing.png')}}">
      <div class="content">
        RIDE SHARING
      </div>
    </h2>
    {% block content %}{% endblock %}
  </body>
</html>
